header {
    text-align: center;
    background-color: grey;
    color:white;
    padding: 2%;
}

h2 {
    padding-top: 12px;
    padding-bottom: 12px;
}

aside {
    padding: 1.5%;
    text-align:right;
    margin-right:24%;
}

.col {
    padding: .5%;
}

button {
    padding: .5%;
}

#employeeInputs {
    padding: 1.5%;
}

#employeeDisplay {
    padding: 1.5%;
}
